<ion-view name="HTML-M1L-GR4U">
    <ion-content>
        <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">E-mail</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">senha</span>
    <input type="password" placeholder="senha">
  </label>
  </div>
  <div class="padding">
<button class="button button-full button-positive">
  entrar
</button>
        </div>


    </ion-content> 
    </ion-view>